<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
  <div class="flex flex-col items-center gap-4 mt-4">
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= form.label :email, class: "label" %>
      <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>

    <%= form.fields_for :profile do |g| %>
      <div class="field">
        <%= g.label :username, class: "label" %>
        <%= g.text_field :username, class: "input" %>
      </div>
    <% end %>
    
    <div class="field">
      <%= form.label :password, class: "label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= form.password_field :password, autocomplete: "new-password", class: "input" %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation, class: "label" %>
      <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    </div>

    <div>
      <%= form.submit "Sign up", class: "form-button" %>
    </div>
  </div>
<% end %>
